body {
    font-family: 'Courier New', monospace;
    color: #1b1e1f;
}

.maincontent {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
}

.leaderboard {
    width: 45%;
    margin: auto;
    border-collapse: collapse;
}

select {
    font-family: inherit;
}

.userCell {
    text-align: left;
}

.statCell {
    text-align: right;
}

#leaderboard th, #leaderboard td{
    padding: 6px;
    border: 1px solid #ddd;
}

th.userCell, th.statCell {
    background-color: #66797d;
    color: #ffffff;
}

#leaderboard tr:nth-child(even) {
    background-color: #ebf3f5;
}

#leaderboard tr:hover {
    background-color: #d3dadb;
}

a {color:#242829;}         /* Unvisited link  */
a:visited {color:#242829;} /* Visited link    */
a:hover {color:#787878;}   /* Mouse over link */
a:active {color:#5f747d;}  /* Selected link   */

::selection {
    background: #97aab0;
    color: #1b1e1f;
}