mc-advancement-gui {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 8px;
}

body {
  width: 1064px;
}

mc-advancement-view {
  border-style: solid;
  border-image: url(../img/gui/inventory.png) 1;
  border-width: 4px; /* 4px is worth one pixel */
  box-shadow: inset 0 0 20px 4px #000000;
}