header {
  position: relative;
  margin: 2rem auto;
}

header > img {
  display: block;
  image-rendering: auto;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  transform: perspective(1200px) rotateX(30deg);
}

header > #splash {
  position: absolute;
  top: 95px;
  right: 50px;
  transform: rotate(-20deg);
  font-size: 2rem;
  color: #ff0;
  animation: 0.4s cubic-bezier(0.4, 0, 1, 1) infinite alternate splash;
}

nav {
  display: grid;
  grid-auto-flow: row;
  margin: 0 auto;
  width: fit-content;
}
nav > a {
  display: grid;
  grid-template-columns: 4rem auto;
  column-gap: 1rem;
  margin: 0.5rem auto;
  width: 100%;
  color: #eee;
  text-decoration: none;
}
nav > a:hover {
  text-decoration: underline;
  background-color: #222;
}
nav > a > img {
  object-fit: contain;
  width: 4rem;
  height: 4rem;
}
nav > a > h2 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 4rem;
}