*,*::before,*::after{box-sizing:inherit;}

@font-face {
  font-family: "Minecraft";
  src: url("../font/mc-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Minecraft";
  src: url("../font/mc-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Minecraft";
  src: url("../font/mc-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Minecraft";
  src: url("../font/mc-bolditalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

:root {
  box-sizing: border-box;
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  font-family: Minecraft;
  color: #eee;
  font-size: 15px;
  text-shadow: 0.1rem 0.1rem #555;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #555;
  background-image: url("../resourcepacks/vanilla/assets/minecraft/textures/block/cobblestone.png");
  background-blend-mode: multiply;
  background-size: 10rem 10rem;
}

.style-toast {
  border-style: solid;
  background-color: #333;
  border-radius: 1.6rem;
  border-width: 1rem;
  border-image: url("../img/gui/border-toast.png") 37.5%;
  padding: 0.8rem;
}

.style-info {
  border-style: solid;
  background-color: #201;
  border-radius: 1.6rem;
  border-width: 1rem;
  border-image: url("../img/gui/border-info.png") 37.5%;
}

.loading-icon {
  display: inline-block;
  width: 3em;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: 0.4s linear infinite alternate loadingIcon;
}
@keyframes loadingIcon {
  from {background-image: url("../img/gui/load-1.png");}
  25% {background-image: url("../img/gui/load-2.png");}
  50% {background-image: url("../img/gui/load-3.png");}
  75% {background-image: url("../img/gui/load-4.png");}
  to {background-image: url("../img/gui/load-5.png");}
}

/* .toast {
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: 2.5rem 1.5rem;
  column-gap: 1rem;
  margin: auto;
  width: fit-content;
  height: 4rem;
}
.toast > img {
  width: 4rem;
  height: 4rem;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  object-fit: contain;
}
.toast > h3 {
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
}
.toast > h4 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: normal;
} */