*,*::before,*::after{box-sizing:inherit;}

@font-face {
  font-family: "Minecraft";
  src: url("../font/mc-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Minecraft";
  src: url("../font/mc-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Minecraft";
  src: url("../font/mc-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Minecraft";
  src: url("../font/mc-bolditalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@keyframes splash {
  from { transform: scale(1) rotate(-20deg); }
  to { transform: scale(1.1) rotate(-20deg); }
}

:root {
  box-sizing: border-box;
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  font-family: Minecraft;
  color: #eee;
  font-size: 15px;
  text-shadow: 0.1rem 0.1rem #555;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #555;
  background-image: url("../img/block/cobblestone.png");
  background-blend-mode: multiply;
  background-size: 10rem 10rem;
  background-position: 50%;
}

header {
  position: relative;
  margin: 2rem;
}

header > img {
  display: block;
  image-rendering: auto;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  transform: perspective(1200px) rotateX(30deg);
}

header > #splash {
  position: absolute;
  top: 95px;
  right: 110px;
  transform: rotate(-20deg);
  font-size: 1.5rem;
  color: #ff0;
  animation: 0.4s cubic-bezier(0.4, 0, 1, 1) infinite alternate splash;
}

nav {
  display: grid;
  grid-auto-flow: row;
  margin: 0 auto;
  width: min-content;
}
nav > a {
  display: grid;
  grid-template-columns: 4rem auto;
  column-gap: 1rem;
  margin: 0.5rem auto;
  width: 100%;
  color: white;
  text-decoration: none;
}
nav > a:hover {
  text-decoration: underline;
  background-color: #222;
}
nav > a > img {
  object-fit: contain;
  width: 4rem;
  height: 4rem;
}
nav > a > h2 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 4rem;
}

.style-toast {
  border-style: solid;
  background-color: #333;
  border-radius: 1.6rem;
  border-width: 0.8rem;
  border-image: url("../img/border-toast.png") 25%;
  padding: 0.8rem;
}

.style-info {
  border-style: solid;
  background-color: #201;
  border-radius: 1.6rem;
  border-width: 0.8rem;
  border-image: url("../img/border-info.png") 25%;
  padding: 0.8rem;
}

.toast {
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: 2.5rem 1.5rem;
  column-gap: 1rem;
  margin: auto;
  width: fit-content;
  height: 4rem;
}
.toast > img {
  width: 4rem;
  height: 4rem;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  object-fit: contain;
}
.toast > h3 {
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
}
.toast > h4 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: normal;
}