header {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  margin: 2rem auto;
  width: -moz-fit-content;
  width: fit-content;
}

header > a {
  display: inline-block;
  margin: auto;
  width: calc(11 / 17 * 4rem);
  height: 4rem;
  background-image: url("../img/right-button.png");
  background-repeat: no-repeat;
  background-size: 100%;
  transform: scaleX(-1);
}
header > a:hover {
  filter: sepia(1) saturate(5) hue-rotate(190deg);
}

header > div {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  margin: 0 auto;
  width: fit-content;
}

header > div > img {
  object-fit: contain;
  width: 4rem;
  height: 4rem;
}

header > div > h1 {
  margin: 0;
  line-height: 4rem;
  font-size: 2.5rem;
}